#root {
    width: 300px;
    margin: 0 auto;
    margin-top: 300px
}

.AddPlayer input {
    padding: 10px;
    border-radius: 20px;
    border-color: crimson;
    margin-right: 20px;
    outline: none;
}

.AddPlayer__submit {
    background-color: crimson;
    color: white;

}